<h1 style="margin-left: 20px;">Importação de Itens</h1>

<hr class="hr hr-blurry" />

<%= render "form", item: @item %>

<hr class="hr hr-blurry" />

<div class="d-flex justify-content-start" style="margin-left: 15px;">
  <%= link_to "Voltar", items_path, :class => "btn btn-secondary" %>
</div>
<hr class="hr hr-blurry" />
