<h1 style="margin-left: 20px;">Importação de Itens</h1>

<%= render "form", item: @item %>

<br>

<div class="d-flex justify-content-start" style="margin-left: 15px;">
  <%= link_to "Voltar", items_path, :class => "btn btn-secondary" %>
</div>
